<div class="footer_sitemap">
  <div class="links_footer">
    <b>Providers</b>
    <ul>
      <li><a href="{{ site.baseurl }}/providers/#alessandra-bertolucci-md-faao">Alessandra Bertolucci, MD, FAAO</a></li>
      <li><a href="{{ site.baseurl }}/providers/#michael-landolfi-do">Michael Landolfi, DO</a></li>
      <li><a href="{{ site.baseurl }}/providers/#albert-zazzali-md-faao">Albert Zazzali, MD, FAAO</a></li>
      <li><a href="{{ site.baseurl }}/providers/#jennifer-a-vicente-od-faao">Jennifer A Vicente, OD FAAO</a></li>
      <li><a href="{{ site.baseurl }}/providers/#kaitlyn-kolzow-reda-od">Kaitlyn Kolzow Reda, OD</a></li>
      <li><a href="{{ site.baseurl }}/providers/#thomas-materna-md-faao">Thomas Materna, MD, FAAO</a></li>
    </ul>
  </div>
  <div class="links_footer">
    <b>Services</b>
    <ul>
      <li><a href="{{ site.baseurl }}/macular-degeneration/">Age-related Macular Degeneration</a></li>
      <li><a href="{{ site.baseurl }}/diabetic-retinopathy/">Diabetic Retinopathy</a></li>
      <li><a href="{{ site.baseurl }}/cataract/">Cataract</a></li>
      <li><a href="{{ site.baseurl }}/glaucoma/">Glaucoma</a></li>
      <li><a href="{{ site.baseurl }}/contacts-eyeglasses/">Contacts and Eyeglasses</a></li>
      <li><a href="{{ site.baseurl }}/bleeding/">Bleeding</a></li>
    </ul>
  </div>
  <div class="links_footer">
    <b> Locations </b>
    <ul>
      <li> <a href="https://goo.gl/maps/s8qoPM22RQMq8pyD7">Elizabeth, NJ</a> - <a href="tel:908-355-0478">  908-355-0478</a> </li>
      <li> <a href="https://goo.gl/maps/z9zJwy4FxsYtPvf59"> Clifton, NJ </a> - <a href="tel:973-472-6405"> 973-472-6405</a> </li>
      <li> <a href="https://goo.gl/maps/NxGHHZQLdVabzsvJ9"> Newark, NJ </a> - <a href="tel:973-589-0104"> 973-589-0104</a> </li>
      <li> <a href="https://goo.gl/maps/1DhkUa4biAj3ApTf7"> Prompton Lakes, NJ </a> - <a href="tel:973-835-1222"> 973-835-1222</a> </li>
      <li> <a href="https://goo.gl/maps/V5f7LosWAnRRwuSA9"> Westfield, NJ </a> - <a href="tel:908-232-0909">  908-232-0909</a> </li>
      <li> <a href="mailto:abertolucci@njeyedocs.com"> njeyedocs@gmail.com </a> </li>
    </ul>
  </div>
  <div class="links_footer">
    <b> Hours </b>
    <ul>
      <li> Mon to Fri - 9:00 AM to 5:00 PM</li>
      <li> Sat - By Appointment Only</li>
      <li> <a href="{{ site.baseurl }}/contact-page/#send-us-a-message"> Send us a message!</a></li>
    </ul>
  </div>
</div>
<div class="page__footer-follow">
    <ul class="social-icons">
      {% if site.data.ui-text[site.locale].follow_label %}
        <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
      {% endif %}
  
      {% if site.footer.links %}
        {% for link in site.footer.links %}
          {% if link.label and link.url %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}
  
      {% unless site.atom_feed.hide %}
        <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
      {% endunless %}
    </ul>
  </div>
  <br>
<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. {{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }} <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>
<div class="page__footer-logos">
  <img src="{{ site.baseurl }}/assets/images/footer/AAO.png" alt="American Academy of Optometry">
  <img src="{{ site.baseurl }}/assets/images/footer/ABO.png" alt="American Board of Ophthalmology">
  <img src="{{ site.baseurl }}/assets/images/footer/ASRS.png" alt="ASRS">
  <img src="{{ site.baseurl }}/assets/images/footer/NjTopDocs.png" alt="NJ Top Docs award">
</div>