---
---
@import "{{ site.theme }}";

.greedy-nav a.site-title {
    display: none;
}

.site-logo img {
    max-height: 3rem;
}

.archive__item-title {
    text-align: left;
    color: orange;
    font-size: 1.25em;
}

.archive__item-excerpt {
    text-align: justify;
    font-size: 1em;
}

.feature__item--center .archive__item-body {
    width: 100%;
}

.feature_row_physicians h1{
    text-align: left;
    color: orange;
    font-size: 1.25em;
    padding-bottom: 0.5em;
}

.feature_row_physicians h2{
    text-align: center;
    color: grey;
    font-size: 1em;
}

.feature_row_physicians .archive__item-teaser {
    text-align: center;
}

.feature_row_physicians .archive__item-body p {
    text-align: center;
}

.feature_row_physicians img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}


.provider_info img
 {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding-bottom: 0.5rem;
 }

 .provider_info p {
    text-align: justify;
 }

 .provider_info {
    text-align: center;
 }

 center h2 {
    color: orange;
    font-size: 1.25em;
    padding-bottom: 0.5em;
 }

.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.locations p {
    margin: 0;
}

.locations > div {
    text-align: center;
    padding: 1%;
}

.services  {
    text-align: center;
}

.services img {
    width: 200px;
    height: 200px;
    border: 10px solid orange;
}

.faqs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.faq {
    padding: 20px;
    margin: 10px;
    background-color: #f0f0f0;
}

.page__footer-logos {
    display: flex;
    justify-content:space-between;
    align-items: flex-start
}

.page__footer-logos img {
    width: 144px;
}